form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 246px;
    height: 170px;
    margin-top: 14px;
}

body {
    background-color: var(--main-color);
}

h1{
    margin: 0;
    display: block;
    text-align: center;
}

input {
    padding: 3px;
    width: 246px;
    height: 42px;
    border: none;
    box-sizing: border-box;
    outline: none;
    background-color: var(--light-grey);
    border-radius: 4px;
}

input[type="button"] {
    width: 246px;
    height: 42px;

    border: none;
    margin-top: 20px;
    border-radius: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: var(--text-white);
    background-color: var(--color-accent);
}

input[type="button"]:hover {
    background-color: var(--selected-button);
    cursor: pointer;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    outline: solid 2px var(--selected-input);
    border: none;
}

.login-container {
    margin: 0;
    width: fit-content;
    height: 260px;
    position: absolute;

    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

p {
    margin-top: 10px;
    width: 246px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: white;
}

a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;

    color: white;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}